body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
  background: #1F1F1F url(../public/4.jpeg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #232323;
}

img{
  width: 100%;
}